#feedContent li {
    margin-bottom: 15px;
}

#feedContent li p {
    white-space: pre-line;
}

#feedContent img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
#feedContent i.fa-remove {
    color: #8f8f8f;
}