
@{
    ViewData["Title"] = "EditUserProfile";
}


<h2>EditUserProfile</h2>

<div class="upload-demo">
    <input type="file" id="upload" value="Choose a file" accept="image/*" data-role="none"/>

                        
    <div class="col-1-2" style="margin: 0 auto;display:table;">
        <div class="upload-msg">
            Click to upload a title image
        </div>
							
        <div id="upload-demo"></div>
        <div class="buttons" style="margin:0 auto;display:table;">
            <button id="btn" class="upload-result" data-role="none">Use This Image</button>
            <button id="btn" class="reset" data-role="none" style="margin-left:5px;">Remove Image</button>
        </div>
    </div>
</div>

<h2>Imagen muestra</h2>
<img id="img_sample" src="" style="max-width:200px" />

@section scripts{
    <script src="~/lib/croppie/croppie.js"></script>
    <script>
        $(function() {

            $(".upload-msg").click(function() {
                $("#upload").click();
            });
		
            $(".reset").click(function() {

                $('.upload-demo').removeClass('ready');

                $('#upload-demo').croppie('destroy');
                $uploadCrop = null;

                $uploadCrop = $('#upload-demo').croppie({
                    viewport: {
                        width: 146,
                        height: 146,
                        type: 'square'
                    },
                    boundary: {
                        width: 300,
                        height: 300
                    },
                });
                

            });
	
            function popupResult(result) {
                var html;
                if (result.html) {
                    html = result.html;
                }
                if (result.src) {
                    html = '<img src="' + result.src + '" />';
                }
                $("#result").html(html);
            }
	
            var $uploadCrop;

            function readFile(input) {
                if (input.files && input.files[0]) {
                    if (/^image/.test( input.files[0].type)){ // only image file
                        var reader = new FileReader();
					
                        reader.onload = function (e) {
                            $('.upload-demo').addClass('ready');
                            $uploadCrop.croppie('bind', {
                                url: e.target.result
                            }).then(function(){
                                console.log('jQuery bind complete');
                            });
						
                        }
					
                        reader.readAsDataURL(input.files[0]);
                    }else{
                        alert("You may only select image files");
                    }
                }else {
                    //alert("Sorry - you're browser doesn't support the FileReader API");
                }
            }
		
            $(".reset").trigger("click");
    

            $('#upload').on('change', function () { readFile(this); });
            $('.upload-result').on('click', function (ev) {
                $uploadCrop.croppie('result', {
                    type: 'base64',
                    size: 'jpeg'
                }).then(function (resp) {
                    $("#img_sample").attr("src",resp);
                });
            });
	
        });
    </script>

}

